# Created by .ignore support plugin (hsz.mobi)
.DS_Store

.idea
*/checkpoint
*.data-00000-of-00001
*.index
*.meta
*.pickle
*.json
*.csv
!data/small_samples.csv
!jiebafenci/fencied.csv
!jiebafenci/test.csv
!training_config.json